---
const { headingLevel, title, text, variant } = Astro.props;
const HeadingTag = headingLevel;

let titleClass = 'component__title';
if (variant) titleClass += ` component__title--${variant}`;

let textClass = 'component__text';
if (variant) textClass += ` component__text--${variant}`;
---

<HeadingTag class={titleClass}>{title}</HeadingTag>
{text.map(para => <p class={textClass}>{para}</p>)}

<style>

  .component__title {
    /* border-bottom: 3px solid var(--color-medium); */
    border-bottom: var(--border-thicc);
    padding-bottom: 1rem;
  }

  .component__title--card {
    font-size: var(--font-size-600);
    border-bottom: var(--border-thin);
  }

  .component__text {
    /* font-size: 1.2rem; */
    /* font-weight: 300; */
    /* line-height: 1.3; */
  }

  .component__text--card {
    /* font-size: 1rem; */
    /* font-size: var(--font-size-600); */
    /* font-weight: 400; */
  }
</style>
