---
import LinkButton from "./LinkButton.astro";
const { headingLevel, title, text, linkText = null, link = null, variant } = Astro.props;
const HeadingTag = headingLevel;

function getIndex(text, link) {

  const index = text.indexOf(link);
  return index;
}

const indices = [];
for (let sentence of text) {
  indices.push(getIndex(sentence, linkText));
}

// console.log(headingLevel, title, text, 'linkText:', linkText, 'apiLink:', apiLink, variant);

let titleClass = 'component__title';
if (variant) titleClass += ` component__title--${variant}`;

let textClass = 'component__text';
if (variant) textClass += ` component__text--${variant}`;
---

<HeadingTag class={titleClass}>{title}</HeadingTag>
<!-- {text.map(para => <p class={textClass}>{para}</p>)} -->

{text.map((para, i) => (
  indices[i] === -1 
    ) ? (
      <p class={textClass}>{para}</p>
    ) : (
      <p class={textClass}>{para.slice(0, indices[i])}
      <LinkButton 
        link={link} 
        page={linkText} 
        title={linkText} 
        isExternal={true} 
        className="underline"
      />
      {para.slice(indices[i] + linkText?.length)}</p>
    ))}

<style>

  .component__title {
    --letter-spacing-offset: calc(var(--letter-spacing-wide) * -1);
    /* border-bottom: 3px solid var(--color-medium); */
    border-bottom: var(--border-chonk);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    /* margin-right: var(--letter-spacing-offset); */
  }

  .component__title--card {
    text-align: center;
    font-size: var(--font-size-500);
    border-bottom: var(--border-thin);
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
  }

  .component__title--social-card {
    font-size: var(--font-size-400);
    padding-bottom: 0.5rem;
    border-bottom: var(--border-thin);
    margin-bottom: 1rem;
  }

  .component__text {
    /* font-size: 1.2rem; */
    /* font-weight: 300; */
    line-height: 1.7;
  }

  .component__text--social-card {
    border-bottom: 2px dotted var(--color-text-decoration);
    width: fit-content;
  }

  .component__text--card {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1rem;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-light);
    line-height: 1.7;
  }
</style>
