---
import { Image } from 'astro:assets';
import HeadingPlusText from './HeadingPlusText.astro';
import LinkButton from './LinkButton.astro';
import discovery from '../assets/discovery.webp'; // 1995px
import headshot from '../assets/headshot.webp'; // 2231px
const { src, alt, title, text, buttons } = Astro.props;

const imgSrc = src === 'discovery' ? discovery : headshot;
---

<!-- <div class="component__content-wrapper"> -->
  <div class="component__image-wrapper">
    <Image
      src={imgSrc}
      width="600"
      densities={[1, 2, 3]}
      alt={alt}
      class="component__image"
    />
  </div>
  <div class="component__text-wrapper">
    <HeadingPlusText
      headingLevel="h2"
      title={title}
      text={text}
    />

    {buttons && <div class="buttons-wrapper">
      {buttons.map(button => <LinkButton link={button.link} page={button.page} icon={button.icon} title={button.title}/>)}
    </div>}
  </div>
<!-- </div> -->

<style>

  .component__image-wrapper {
    max-width: 25em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .component__image {
    width: 100%;
    height: auto;
    background-color: var(--color-lightest);
    border-radius: var(--border-radius-circle);
  }

  .component__text-wrapper {
  }

  .buttons-wrapper {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 50em) {
    .buttons-wrapper {
      flex-direction: row;
    }
  }

  @media (min-width: 62em) {

    .component__text-wrapper {
      text-align: right;
      order: -1;
    }

    .buttons-wrapper {
      justify-content: flex-end;
    }
  }
</style>