---
import { Image } from 'astro:assets';
import HeadingPlusText from './HeadingPlusText.astro';
import LinkButton from './LinkButton.astro';
// import discovery from '../assets/discovery.jpg';
import discovery from '../assets/discovery.webp'; // 1995px
// import headshot from '../assets/headshotsquare.jpg';
import headshot from '../assets/headshot.webp'; // 2231px
const { src, alt, title, text, buttons } = Astro.props;

const imgSrc = src === 'discovery' ? discovery : headshot;
---

<div class="component__content-wrapper">
  <div class="component__image-wrapper">
    <Image
      src={imgSrc}
      width="600"
      densities={[1, 2, 3]}
      alt={alt}
      class="component__image"
    />
  </div>
  <div class="component__text-wrapper">
    <HeadingPlusText
      headingLevel="h2"
      title={title}
      text={text}
    />

    {buttons && <div class="buttons-wrapper">
      {buttons.map(button => <LinkButton link={button.link} page={button.page} icon={button.icon} title={button.title}/>)}
    </div>}
  </div>
</div>

<style>

  .component__image-wrapper {
    max-width: 25em;
    margin: 0 auto;
  }

  .component__image {
    /* max-width: 100%; */
    height: auto;
    border-radius: var(--border-radius-circle);
  }

  @media (min-width: 60em) {

    .component__content-wrapper {
      display: flex;
      flex-direction: row-reverse;
      /* justify-content: space-between; */
      align-items: center;
      gap: 3rem;
    }

    .component__text-wrapper {
      text-align: right;
      max-width: 40em;
    }

    .buttons-wrapper {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
    }
  }
</style>