---
import { Image } from 'astro:assets';

import HeadingPlusText from './HeadingPlusText.astro';
import LinkButton from './LinkButton.astro';

import dcImage from '../assets/digital-canvas.png';
import digitalCanvas from '../assets/digital-canvas.webp';
import hhcImage from '../assets/happy-hour-cocktails.png';
import happyHourCocktails from '../assets/happy-hour-cocktails.webp';
import codImage from '../assets/cats-on-demand.png';
import catsOnDemand from '../assets/cats-on-demand.webp';

import projects from '../scripts/projects.js';
for (let project of projects) {
  console.log(project)
}

const images = [
  digitalCanvas,
  happyHourCocktails,
  catsOnDemand
];
---

<section id="projects" class="projects section--negative-slope" >
  <div class="projects__container container">

    <div class="projects__text-container">

      <HeadingPlusText
        headingLevel="h2"
        title="Projects"
        text={["The universe knows no limits, and neither should your imagination.", "From vanilla JavaScript to APIs, creativity and possibilities are boundless."]}
      />

    </div>

    <div class="project-cards__container">
      {projects.map((project, i) => (
        <div class="project-card">
          <div class="project-card__image-container">
            <Image 
              src={images[i]} 
              width={600}
              densities={[1, 2, 3]}
              alt={project.name}
              class="project-card__image"
            />
            <LinkButton 
              className="image__link"
              link={project.pageLink}
              icon="chevron-right"
              title="Visit Site"
              isExternal={true}
            />
          </div>

          <div class="project-card__info-container">
            <HeadingPlusText
              headingLevel="h3"
              title={project.name}
              text={[project.description]}
              link={project.apiLink}
              linkText={project.linkText}
              variant="card"
            />
            <LinkButton
              link={project.codeLink}
              page="code repository on GitHub"
              icon="chevron-right"
              title="View Code"
              isExternal={true}
            />
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>

  .projects {
    background-color: var(--color-medium-dark);
    /* background-color: hsl(var(--hue-primary), 12%, 40%); */

    padding-top: 22rem;
    padding-bottom: 18rem;
  }

  .project-cards__container {
    /* border: 1px solid yellow; */
    margin-top: 10rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(18em, 1fr)); */
    gap: 8rem;
  }

  .project-card {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-sharp);
    /* border: 1px solid red; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card__image-container {
    position: relative;
    border-radius: var(--border-radius-sharp) var(--border-radius-sharp) 0 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .project-card__info-container {
    flex: 1;
    /* margin-top: 1rem; */
    /* border: 1px dotted yellow; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* height: max-content; */
    /* justify-content: center; */
    justify-content: space-between;
    /* align-items: stretch; */
    /* gap: 1rem; */
    padding: 1.5rem;
    padding: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  }

  .project-card__info-container > * {
    background-color: aqua;
    border: 1px dotted greenyellow;
  }

  @media (min-width: 22em) {
    .project-cards__container {
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
      gap: clamp(2rem, 1.4rem + 3vw, 5rem);
    }
  }

</style>
