---
import { Image } from 'astro:assets';

import HeadingPlusText from './HeadingPlusText.astro';
import LinkButton from './LinkButton.astro';

import dcImage from '../assets/digital-canvas.png';
import hhcImage from '../assets/happy-hour-cocktails.png';
import codImage from '../assets/cats-on-demand.png';

import projects from '../scripts/projects.js';

const images = [
  dcImage,
  hhcImage,
  codImage
];
---

<section id="projects" class="projects" >
  <div class="projects__container container">

    <div class="projects__text-container">

      <HeadingPlusText
        headingLevel="h2"
        title="Projects"
        text={["The universe knows no limits, and neither should your imagination. From vanilla JavaScript to APIs, creativity and possibilities are boundless."]}
      />

    </div>

    <div class="project-cards__container">
      {projects.map((project, i) => (
        <div class="project-card">
          <div class="project-card__image-container">
            <Image 
              src={images[i]} 
              alt={project.name}
              class="project-card__image"
            />
          </div>

          <div class="project-card__info-container">
            <HeadingPlusText
              headingLevel="h3"
              title={project.name}
              text={[project.description]}
              variant="card"
            />
            <LinkButton
              link={project.codeLink}
              page="code repository on GitHub"
              icon="chevron-right"
              title="View Code"
              isExternal={true}
            />
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>

  .projects {
    background-color: var(--bg-color-dark);
    background-color: hsl(var(--hue-secondary), 10%, 30%);
  }

  .project-cards__container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 3rem;
  }

  .project-card {
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  .project-card__image-container {
    border-radius: 5px 5px 0 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .project-card__info-container {
    /* border: 1px dotted yellow; */
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    /* align-items: stretch; */
    /* gap: 3rem; */
    padding: 1rem;
  }

  .project-card__info-container > * {
    background-color: aqua;
    border: 1px dotted greenyellow;
  }

  @media (min-width: 55em) {
    .projects {
      background-color: hsla(var(--hue-secondary), 10%, 30%, 0.9);
    }
  }

</style>
